* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

button {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
}

a {
	color:inherit;
	text-decoration:none;
	cursor:pointer;
	outline : none;
}